doctype html
html(lang='en')
    head
         meta(charset='UTF-8')
         meta(name='viewport' content='width=device-width, initial-scale=1.0')
         meta(name='description' content='You best game')
         title #{title} | Guessing game
         link(rel='stylesheet', href='/css/styles.css')
        
    -const gameCode = game ?game.gameCode : ''     
    body(data-gamecode=gameCode)
      img.logo(src='/img/zainab.svg' alt='Logo image')

      .container
        block content
        
        block scripts
          script.
            window.env = {
              BACKEND_URL: "#{process.env.BACKEND_URL || 'http://localhost:4000'}",
              NODE_ENV: "#{process.env.NODE_ENV || 'development'}"
            };
          script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
          script(src="/socket.io/socket.io.js")
          script(type='module' src="/js/game.js")
          script(type='module' src="/js/index.js")