doctype html
html(lang='en')
    head
         meta(charset='UTF-8')
         meta(name='viewport' content='width=device-width, initial-scale=1.0')
         meta(name='description' content='Find your dream job with our comprehensive job portal')
         title #{title} | Guessing game
         link(rel='stylesheet', href='/css/styles.css')
         link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap')
         link(rel='preconnect' href='https://fonts.googleapis.com')
         link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        
    body
      .container
        block content
        
        block scripts
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/socket.io/socket.io.js")
        script(type='module' src="/js/index.js")